canvas {
    display: block;
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal {
    width: 500px;
    height: 300px;
    position: absolute;
    background: white;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
